* { margin:2px; padding:0; }
#left {float:left;}
#hud {float:right; width: 650px; height:20px;}
#right {float:right; overflow: scroll; width: 650px; height: 570px;}
#transcription {
  margin-top: 10px;
  width: 100%;
  height: 200px;
}
table, td
{
    border-color: #600;
    border-style: solid;
}

table
{
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
}

td
{
    padding: 4px;
    border-width: 1px 1px 0 0;
}
.current {background-color:green;}
#previous, #next {display:none;}